@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Mono);

body {
  justify-content: center; 
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image:url("https://d.top4top.io/p_2099ry54w0.png");
}

.container {
  height: 30vh;
  width: 65vw;
  margin: 0 auto;
  margin-top: 20vh;
}

.error {
  color: #80ff00;
  font-family: 'Inconsolata';
  font-size: 20vw;
  text-align: center;
  text-shadow: 2px 2px 5px;
  -webkit-animation: shadow 1s infinite alternate ease-in-out;
          animation: shadow 1s infinite alternate ease-in-out;
}

.text {
  color: #80ff00;
  font-size: 3vw;
  font-family: 'PT Mono';
}

.line {
  -webkit-animation: cursor 1s infinite normal linear;
          animation: cursor 1s infinite normal linear;
}

.footer {
  color: #80ff00;
  font-family: 'Inconsolata';
  font-size: 2.5vw;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 40vh;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

@keyframes shadow {
  0% { text-shadow: 1px 1px 1px; }
  100% { text-shadow: 2px 2px 10px; }
}
@-webkit-keyframes shadow {
  0% { text-shadow: 1px 1px 1px; }
  100% { text-shadow: 2px 2px 10px; }
}
@keyframes cursor {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
}
@-webkit-keyframes cursor {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
}
