<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Hacking tools</title>
    <style>
        .img-fluid {
            max-width: 100%;
            height: auto; 
        }
        .custom-img-size {
            max-width: 410px;
            height: auto; 
        }
        .gradient-text {
            background: linear-gradient(to right, #ff2424, #0093ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-color py-4 pt-lg-5">
    <div class="container">
        <a class="navbar-brand text-white fw-bolder" href="#">Hexing hack</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class=" nav-item">
                    <a class="nav-link active" aria-current="page" href="/hexing-hack.html">Home</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<section class="common-section bg-color contact-section text-white">
    <div class="container text-center fw-bold common-title ">
        
        <h2 class="common-heading gradient-text">All Tools</h2>
        <hr class="w-25 mx-auto">
        <p class="text-white">
            <br>
        </p>
        <div class="row">
            <div class="col-12">
                <p class="text-white">
                    <br> Tools will be added soon <br>
                </p>
            </div>
            <hr class="w-25 mx-auto">
            <div class="col-12">
                <p class="text-white">
                    <br> Tools will be added soon <br>
                </p>
            </div>
            <hr class="w-25 mx-auto">
    <div class="custom-shape-divider-bottom-1684208460">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                  class="shape-fill"></path>
        </svg>
    </div>

</section>

<!--footer section ends -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
</body>
</html>